/* RESET STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REQUIRED STYLING */
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #d6d6d6;
  line-height: 1.7;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #ff3300;
  font-weight: bold;
}
/* END OF REQUIRED STYLING */

/* HEADER STYLING */
header {
  width: 100%;
  height: 230px;
  background-image: url("/Users/marksoro/git-projects/Per_Scholas/Homework/Day5/background.jpg");
  background-repeat: repeat-x;
}

/* PARENT CONTAINER OF THE LOGO*/
/* SET TEXT ALIGN CENTER */
.logo-container {
  text-align: center;
}

/* SET MARGIN TOP TO SHIFT THE LOGO DOWN A BIT FROM THE TOP*/
.logo-container img {
  display: inline;
  margin-top: 1.6em;
}
/* END OF HEADER STYLING */

/* BODY STYLING */

/* THE .column-container IS THE GRID CONTAINER */
/* THE 2 COLUMNS INSIDE ARE NOW GRID ITEMS. I ASINGNED NAMES TO THESE TWO COLUMNSFOR EASE */
/* SEE grid-template-areas: - THIS GIVES ME A TWO COLUMNS TO WORK WITH */
/* SET justify-content: TO CENTER */
.column-container {
  display: grid;
  grid-template-areas: "article-area aside";
  justify-content: center;
  column-gap: 2em;
  margin: 40px 0 100px 0; /* top right bottom left*/
}

/* ARTICLE AREA COLUMN STYLES AKA COLUMN-1*/
.column-1 {
  grid-area: article-area;
  width: 620px;
  background-color: #ffffff;
}

article {
  padding: 1.5em;
}

/* TO AUTO-CONTAIN THE IMAGES INSIDE PARENT ELEMENT */
/* SET max-height, max-width to 100% and display:block */
article img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.text {
  padding: 0.8em 0 0.8em 0; /* top right bottom left*/
}

/* STYLING THE BOTTOM HORIZONTAL RULE */
.article-btm-hr {
  border-top: 0.1em solid;
}

/* ASIDE COLUMN STYLES AKA COLUMN-2*/
.column-2 {
  grid-area: aside;
  margin: 0em 0 3em 0; /* top right bottom left*/
  width: 250px;
  height: max-content;
  background-color: #ffffff;
  font-weight: bold;
}

.column-2 ul {
  margin: 2em 1.2em 2em 1.2em; /* top right bottom left*/
}

.column-2 ul p {
  text-align: left;
}

.column-2 ul li {
  list-style-type: none;
  text-align: left;
}

/* FOOTER STYLING */
footer {
  height: 6em;
  width: 100%;
  position: fixed;
  bottom: 0;
}

ul {
  justify-content: center;
  text-align: center;
  margin-top: 0.7em;
}
footer li {
  display: inline-block;
}
/* END OF FOOTER STYLING */
